body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Arka plan beyaz */
    color: #101a0f;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b1d1af; /* Header rengi */
    color: #101a0f; /* Yazı rengi */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #101a0f; /* Menü yazı rengi */
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
}

.button {
    background-color: #101a0f;
    color: #f2f8f2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.button {
    font-size: 20px; 
    padding: 15px 25px; 
    font-weight: bold;
}
.listings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.listing {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}
